{% extends 'registration/auth/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form" class="form-horizontal" action="{% url 'login' %}{% if next %}?next={{ next }}{% endif %}" method="POST">
            {% csrf_token %}
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">Please login</h3>
                </div>

                <div class="panel-body">
                    {% include 'forms/fields/inline.html' with field=form.username sizes='sm-8 lg-9' %}
                    {% include 'forms/fields/inline.html' with field=form.password sizes='sm-8 lg-9' %}

                    <!-- other errors -->
                    {% if form.non_field_errors %}
                    <div class='form-group'>
                        <div class="col-sm-8 col-lg-9 col-sm-offset-4 col-lg-offset-3">
                            {% for error in form.non_field_errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="panel-footer">
                    <div class="text-right">
                        <a class="btn btn-link" href="{% url 'password_reset' %}"><small>Forget your password?</small></a>
                        <a href="/" class="btn btn-default">Cancel</a>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
