{% extends 'registration/auth/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <p class="lead">{{ title }}</p>
                <p>Your password was changed successfully.  You may go ahead and log in now.</p>
                <p><a class="btn btn-default pull-right" href="{% url 'login' %}">Log in</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
